* {
  box-sizing: border-box;
}

:root {
  --color-orange: hsl(25, 97%, 53%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(217, 12%, 63%);
  --color-medium-grey: hsl(216, 12%, 54%);
  --color-dark-blue: hsl(213, 19%, 18%);
  --color-very-dark-blue: hsl(216, 12%, 8%);
  --height-button: 3rem;
}

body {
  font: 15px "Overpass", sans-serif;
  color: var(--color-light-grey);
  background-color: var(--color-very-dark-blue);
}

#ratingState,
#thankYouState {
  width: 400px;
  max-width: 90%;
  padding: 2rem;
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: var(--color-dark-blue);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media screen and (max-width: 480px) {
  #ratingState,
#thankYouState {
  padding: 1rem;
}
}
#thankYouState {
  text-align: center;
}

h2 {
    color: var(--color-white);
}

.invisible {
  display: none;
}

#ratingScale {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#ratingScale > input {
  display: none;
}
#ratingScale > label,
#starContainer {
  width: var(--height-button);
  height: var(--height-button);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(216, 12%, 54%, 10%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#submit {
  width: 100%;
  height: var(--height-button);
  border-radius: calc(var(--height-button) / 2);
  -webkit-border-radius: calc(var(--height-button) / 2);
  -moz-border-radius: calc(var(--height-button) / 2);
  -ms-border-radius: calc(var(--height-button) / 2);
  -o-border-radius: calc(var(--height-button) / 2);
  background-color: var(--color-orange);
  color: var(--color-white);
  font-weight: bold;
}

.your-rating {
    color: var(--color-orange);
}

.attribution {
  font-size: 11px;
  padding: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
}
.attribution a {
  color: var(--color-orange);
}
