* {
    box-sizing: border-box;
}

body {
    font: 15px "Overpass", sans-serif;
}

.invisible {
    display: none;
}

#one,
#two,
#three,
#four,
#five {
    display: none;
}

#ratingScale {
    height: 500px;
    background-color: aqua;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }